language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "pypy"
# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
    - pip install -v limnoria
    - pip install -vr requirements.txt
# command to run tests, e.g. python setup.py test
script:
  - echo $TRAVIS_PYTHON_VERSION
  - export PYTHON_MAJOR_VERSION=$(echo $TRAVIS_PYTHON_VERSION|head -c 1)
  - if [ "$PYTHON_MAJOR_VERSION" = "3" ]; then export DISABLED_PLUGINS="--exclude=./NoLatin1"; else export DISABLED_PLUGINS=""; fi
  - supybot-test --plugins-dir=. --no-network $DISABLED_PLUGINS
notifications:
    on_success: never
    on_failure: never
